{
    "env": {
        "development": {
          "plugins": [
            [
              "styled-components",
              { "ssr": true, "displayName": true, "preprocess": false }
            ]
          ],
          "presets": ["next/babel"]
        },
        "production": {
          "plugins": [
            [
              "styled-components",
              { "ssr": true, "displayName": true, "preprocess": false }
            ]
          ],
          "presets": ["next/babel"]
        }
    },
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@Actions": "./src/Actions",
                    "@Components": "./src/Components",
                    "@Configs": "./src/Configs",
                    "@Style": "./src/Styled",
                    "@Theme": "./src/Theme",
                    "@Layouts": "./src/Layouts",
                    "@Store": "./src/Store",
                    "@Reducers": "./src/Reducers",
                    "@Modals": "./src/Modals"
                }
            }
        ],
        [
            "styled-components",
            { "ssr": true, "displayName": true, "preprocess": false }
          ],
          ["import", { "libraryName": "antd", "style": "css" }]
    ]
}